.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "item1 item1 item1"
    "item5 item8 item8"
    "item7 item10 item10"
    "item6 item2 item2"
    "item3 item9 item9"
    "item3 item4 item4"
  ;
}


.item {
  padding: 20px;
  border-radius: 20px;
  border: 3px solid black;

}

.item-1 {
  grid-area: item1;

}

.item-2 {
  grid-area: item2;
}

.item-3 {
  grid-area: item3;

}

.item-4 {
  grid-area: item4;

}

.item-5 {
  grid-area: item5;

}

.item-6 {
  grid-area: item6;

}

.item-7 {
  grid-area: item7;
}

.item-8 {
  grid-area: item8;
}

.item-9 {
  grid-area: item9;
}

.item-10 {
  grid-area: item10;
}